<nav>
    <p class="text-center">
        <a href="/"><img class="img-responsive img-circle" src="https://secure.gravatar.com/avatar/41d10fd7a29a3966794f772d368ebb13.png?s=200&r=x&d=mm" alt="gravatar"/></a>
        <br>
        <a href="/" class="full-name">Bates Westmoreland</a>
        <br>
        <span class="lead">
            <a rel="me" href="https://twitter.com/rbwestmoreland" title="twitter" target="_blank"><i class="icon-twitter"></i></a>
            <a rel="me" href="https://github.com/rbwestmoreland" title="github" target="_blank"><i class="icon-github"></i></a>
            <a href="/atom.xml" title="feed" target="_blank"><i class="icon-rss"></i></a>
        </span>
        <br>
        <a href="/" title="posts">posts</a>
        <br>
        <a href="/projects" title="projects">projects</a>
        <br>
        <a href="/about" title="about">about</a>
    </p>
</nav>